---
layout: default
---

<p class="meta">
    {{ page.date | date: "%B %d, %Y" }}
    <a href="/">
        <i class="home fa fa-home"></i>
    </a>
</p>

<h1 class="title">{{ page.title }}</h1>

<div id="post">
    {{ content }}
</div>

<form action="https://getsimpleform.com/messages?form_api_token=0697a0ee5c2bb60dcf4c31f1a12ea6f6" method="post">
    <!-- <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' /> -->
    <!-- <input type='text' name='content' /> -->
    <label for="name">Name</label>
    <input id="name" type="text" name="name" class="field" placeholder="Your name" required />

    <label for="email">E-mail</label>
    <input id="email" type="email" name="email" class="field" placeholder="example@domain.com" required />

    <label for="subject">Subject</label>
    <input id="subject" type="text" name="subject" class="field" placeholder="Optional" />

    <label for="content">Message</label>
    <textarea id="content" name="content" placeholder="Write your message here..." required></textarea>

    <input id='submitBtn' type='submit' value='Submit' />
</form>
